<% provide :title, "Game" %>

<h1 class="title" id="question">Question #<%=@question%></h1>
<h1 class="title" id="question">Score = <span><%=@score%></span></h1>

<% @num=Problem.find_by_number(@problem.number) %>
<% @choices = [@num.answer, @num.guess_one, @num.guess_two].shuffle%>

<body style="background-image:url(<%=@num.image%>);background-size=100%">

 <div class="text" id="game">
    <%= @num.quote %>
    <%= form_tag "/game/answer", method: "post" do -%>
    	<div class="answers">
	      <label><input type="radio" name="answer" value = "<%=@choices[0]%>" onclick="this.form.submit()"> <%=@choices[0]%><br></label>
	      <label><input type="radio" name="answer" value = "<%=@choices[1]%>" onclick="this.form.submit()"> <%=@choices[1]%><br></label>
	      <label><input type="radio" name="answer" value = "<%=@choices[2]%>" onclick="this.form.submit()"> <%=@choices[2]%></label>
	    </div>
    <%- end -%>
  </div>

</body>