<% provide :title, "Display" %>

<h1 class="title">Problem #<%=@problem.number%></h1>

<body style="background-image:url(<%=@problem.image%>);background-size=100%">

  <div class="text" id="display">
    <%= @problem.quote %>
    <form>
      <div class="answers">
<input type="radio" name="answer" value = "<%=@problem.answer%>" onclick="this.form.submit()"> <%=@problem.answer%><br>
<input type="radio" name="answer" value = "<%=@problem.guess_one%>" onclick="this.form.submit()"> <%=@problem.guess_one%><br>
<input type="radio" name="answer" value = "<%=@problem.guess_two%>" onclick="this.form.submit()"> <%=@problem.guess_two%>
	    </div>
    </form>
  </div>

</body>
